<main class="d-flex flex-column justify-content-center py-5 align-items-center">
    {{#if authenticated}}
    {{#if temMensagem}}
    <div class="alert alert-primary" role="alert">
        {{mensagem}}
    </div>
    {{/if}}
    {{else}}
    {{#if temMensagem}}
    <div class="alert alert-danger" role="alert">
        {{mensagem}}
    </div>
    {{/if}}
    {{/if}}
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="Email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="Email" name="Email" aria-describedby="emailHelp" {{#if authenticated}}disabled{{/if}}>
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" id="Password" name="Password" {{#if authenticated}}disabled{{/if}}>
        </div>
        <button type="submit" class="btn btn-primary">Autenticar</button>
    </form>

</main>